a{text-decoration: none; color: #000;}
header{width: 300px; height: 100vh; border-right: 1px solid #ddd;}
h1{text-align: center;}
h1 a{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: block;
}
nav{
    margin-top: 50px;
}
nav>ul{
    border-top: 1px solid #ddd;
}
nav>ul>li{
    border-bottom: 1px solid #ddd;
    text-align: center;
}
nav>ul>li:hover{
    background: rgb(117, 139, 211);
}
nav>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul{
    display: none;
    background: #ddd;
}
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li{
    transition: .3s;
}
nav>ul>li>ul>li:hover{
    background: #000;
}
nav>ul>li>ul>li:hover a{
    color: #fff;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}