*{box-sizing: border-box;}
a{text-decoration: none; color: #000;}
#wrap{}
#header{
    width: 100%;
    padding: 0 50px;
    height: 100px;
    background: rgba(255,255,255,.6); /* 255,255,255는 흰색 .5 반투명하게 */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{}
#nav>ul{
    display: flex;
}
#nav>ul>li{
    width: 150px;
    text-align: center;
}
#nav>ul>li>a{
    font-size: 24px;
    font-weight: bold;
}
#nav>ul>li:nth-child(1)>a{color: #c95555;}
#nav>ul>li:nth-child(2)>a{color: #609fbd;}
#nav>ul>li:nth-child(3)>a{color: #e07cd0;}
#nav>ul>li:nth-child(4)>a{color: #528066;}
#nav>ul>li:nth-child(5)>a{color: #9a68db;}
#nav .bg{
    width: 100%;
    height: 0;
    transition: height .3s;
    background: #2158f0;
    position: absolute;
    top: 100px;
    left: 0;
}
#nav:hover .bg{
    height: 200px;
}
#nav>ul>li>ul{
    position: absolute;
}
#nav>ul>li>ul>li{}
#nav>ul>li>ul>li>a{}
.mainSlide{
    width: 100%;
    height: 800px;
    background: url(../image/bg.jpg) no-repeat center center/cover;
}
.searchbox{
    background: #91c275 url(../image/totalsearch_ico.png) no-repeat right 20px center;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.searchbox input{
    background: none;
    border: none;
    color: #fff;
}
.searchbox input:focus{
    outline: none;
}
#content{
    width: 100%;
    height: 800px;
    background: rgb(162, 162, 238);
}
#footer{
    width: 100%;
    height: 100px;
    background: #ddd;
}